<body>
    <div class="Page-login">
        <div class="container rounded-3" id="container">
            <form action="" method="POST" class="w-100">
                <h1>Lấy lại mật khẩu</h1>

                <div class="w-100 p-2">
                    <input type="email" placeholder="Email" name="email"
                        id="email" class="w-100"
                        value="<%= email || '' %>">
                    <% if (errors && errors.email) { %>
                    <span class="error-message text-danger">
                        <%= errors.email %>
                    </span>
                    <% } %>
                </div>

 

                <a href="/resgister">Quay về trang Đăng ký</a>

                <button class="button" type="submit">Gửi xác nhận</button>
            </form>
        </div>
    </div>
</body>